{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Steller page.">
    <meta name="author" content="Abdul Moiz">
    <title>Steller portfolio page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Steller main styles -->
	<link rel="stylesheet" href="{% static 'css/steller.css' %}">
</head>

{% block body %}
    
{% endblock body %}
    
</html>
