{% extends 'base.html' %}
{% load static%}
{% block content%}
    <!-- Page Header -->
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">hello,I'm</h6>
                <h6 class="title">James Smith</h6>
                <p>UI/UX Designer</p>

                <div class="buttons pt-3">
                    <button class="btn btn-primary rounded">HIRE ME</button>
                    <button class="btn btn-dark rounded">DOWNLOAD CV</button>
                </div>      

                <div class="socials mt-4">
                    <a class="social-item" href="javascript:void(0)"><i class="ti-facebook"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-google"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-github"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-twitter"></i></a>
                </div>
            </div>              
            <div class="img-holder">
                <img src="{% static 'imgs/man.svg' %}" alt="">
            </div>      
        </div>  

        <!-- Header-widget -->
        <div class="widget">
            <div class="widget-item">
                <h2>124</h2>
                <p>Happy Clients</p>
            </div>
            <div class="widget-item">
                <h2>456</h2>
                <p>Project Completed</p>
            </div>
            <div class="widget-item">
                <h2>789</h2>
                <p>Awards Won</p>
            </div>
        </div>
    </header>
    <!-- End of Page Header -->
    {% block about %}
    {% include 'common/about.html' %}
    {% endblock about %}
    <!-- Service section -->
    
    {% block service %} 
   {% include 'common/services.html'%}
    {% endblock service %}
    <!-- Portfolio section -->
    
    {% block portfolio %}
        {% include 'common/portfolio.html'%}
   
    <!-- End of portfolio section -->
    {% endblock portfolio %}
    <!-- Testmonial Section -->
    
    {% block testimonial %}
        {% include 'common/testimonials.html'%}
    <!-- End of testmonial section -->
    {% endblock testimonial %}
    <!-- Blog Section -->
    
    {% block blog %}
        {% include 'common/blog.html'%}
    {% endblock blog %}
    <!-- Hire me section -->
    <section class="bg-gray p-0 section">
        <div class="container">
            <div class="card bg-primary">
                <div class="card-body text-light">
                    <div class="row align-items-center">
                        <div class="col-sm-9 text-center text-sm-left">
                            <h5 class="mt-3">Hire Me For Your Project</h5>
                            <p class="mb-3">Accusantium labore nostrum similique quisquam.</p>
                        </div>
                        <div class="col-sm-3 text-center text-sm-right">
                            <button class="btn btn-light rounded">Hire Me!</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>      
    <!-- End od Hire me section. -->

    
    {% block contact %}
        
    
        
    <!-- Contact Section -->
    {% include 'common/contact.html'%}
    <!-- End of Contact Section -->
    {% endblock contact %}
    {% endblock content %}

